/* homebanner.css */
#hero-banner {
    padding: 20px;
    text-align: center;
}

#hero-banner h1 {
    font-size: 1.7em;
    margin: 0;
}

@media (max-width: 768px) {
    #hero-banner h1 {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
    #hero-banner h1 {
        font-size: 1.2em;
    }
}
